#songs-list {
    margin: 2em;
  }
  
  .song-card {
    margin: 2em auto;
  }
  
  .progress-spinner {
    margin: 0 auto;
  }
  
  @media (max-width: 680px) {
    .song-card {
      width: 80%;
      margin: 0 auto;
    }
  
    .mat-card {
      margin-bottom: 2em;
    }
  }