<h1 class="section-title">{{'songDetail' | translate}}</h1>
<mat-progress-spinner *ngIf="!song"
                      class="progress-spinner"
                      [color]="'primary'"
                      [mode]="'indeterminate'">
</mat-progress-spinner>
<div id="song-detail" *ngIf="song">
    <ng-container>
        <mat-card class="song-card">
            <mat-card-header>
                <div mat-card-avatar class="song-header-image"
                     [ngStyle]="{'background-image': 'song.imageAlbum'}"></div>
                <mat-card-title>{{song.name}}</mat-card-title>
                <mat-card-subtitle>{{song.album}}</mat-card-subtitle>
                <div class="flex-spacer"></div>
                <div class="song-actions">
                    {{song.likes}}
                    <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                              [matTooltipPosition]="'above'"
                              class="like-icon" (click)="like()">favorite
                    </mat-icon>
                </div>
            </mat-card-header>
            <img mat-card-image style="width: 50%; height: 50%" [src]="song.imageAlbum">
            <br>
            <br>
            <br>
            <br>
            <audio id="audioTestElem" autobuffer autoplay controls >
                <source src="assets/audio/1.mp3">
            </audio>
        </mat-card>
    </ng-container>
</div>
